/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */
// Default mixins and settings -----------------
@import "../reveal.js/css/theme/template/mixins";
@import "./base-settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

// Colors used in the theme
$xomniaBlue: #2D4E9D;
$coal: #222;
$codeBackground: #23241f;

$backgroundColor: $xomniaBlue;

// Main text
$mainFont: Ubuntu, 'sans-serif';
$mainColor: #eee;

// Headings
$headingFont: Ubuntu, 'sans-serif';
$headingTextShadow: none;

$heading1TextShadow: none;

// Links
$linkColor: $xomniaBlue;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: $xomniaBlue;
$selectionColor: #fff;


// Theme template ------------------------------
@import "./base-theme";
// ---------------------------------------------

// some overrides after theme template import

.reveal p {
  font-weight: 300;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700;
}

.reveal p code {
  background-color: $codeBackground;
  display: inline-block;
  border-radius: 7px;
}

.reveal small code {
  vertical-align: baseline;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.logo-left-top {
  position: fixed;
  display: block;
  top: 0;
  left: -200px;
}

#sarimax-wrap {
  position: relative;
  left: 350px;
  text-align: left;
  font-family: "DejaVu Math TeX Gyre";
  text-shadow: none;
  font-size: 30px;
}

.sarimax {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  top: 7px;
}

b.sarimax {
  display: inline-block;
  position: relative;
  width: 40px;
  top: 0
}

.sarimax-shift {
  position: relative;
  top: -1em
}

.lower-title {
  padding-top: 35px;
}

.no-bullet > li {
  display: list-item;
  list-style: none;
}

@font-face {
  font-family: mathjax;
  src: url("../MathJax-master/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff") format('woff');
}

.math-font {
  font-family: "mathjax", "DejaVu Math TeX Gyre";
}


#dot-product-note {
  position: relative;
  left: 100px;
  top: -190px;
  font-size: 10px;
  transform: rotate(-45deg);
}

i {
  font-style: italic;
}

.row-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.slide-vectorized-changepoints-item {
  margin: 0 60px 0 60px;
  font-size: 35px;
}

#xomnia-logo {
  position: fixed;
  height: 200px;
  bottom: 0;
}

#seasonality-banner {
  background-color: $xomniaBlue;
  border-width: 1px;
  border-color: white;
  box-shadow: 2px 2px;
}

.border-me {
  border: 1px solid white;
  padding: 16px;
}

//code blocks
pre {
  box-shadow: unset !important;
  font-size: 15px !important;
}

.matplotlib {
  background-color: white !important;
}